 
 
 
Communications
 
and
 
Information
 
Engineering
 
Program
 
CIE101:
 
Fundamentals
 
of
 
Computer
 
Programming
 
 
Course
 
Project
 
Statement
 
Spring
 
2026
 
 
 
Farm
 
Frenzy
 
 
 
 
 
  
Dr.
 
Tamer
 
Ashour
 
Ali
 
 
Eng.
 
Yara
 
AlaaEldin
       
 
Eng.
 
Mahmoud
 
Farhat
 
 
Eng.
 
Nasrah
 
Mohamed
 
 
Eng.
 
Wessam
 
Zaid
 
Eng.
 
George
 
Maximous
 
 
Eng.
 
Amira
 
Waleed
  
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
1
 

 
 
Introduction
 
 
In
 
this
 
project,
 
your
 
task
 
is
 
to
 
develop
 
an
 
engaging
 
Farm
 
Frenzy
 
Game
 
using
 
object-oriented
 
programming.
 
The
 
game
 
will
 
start
 
by
 
loading
 
or
 
creating
 
a
 
specific
 
map.
 
Then
 
players
 
can
 
start
 
the
 
game
 
in
 
a
 
new
 
window .
 
Gameplay
 
Overview
 
●
 
In
 
this
 
game,
 
you
 
have
 
a
 
farm,
 
and
 
you
 
are
 
given
 
a
 
specific
 
amount
 
of
 
money
 
in
 
the
 
beginning.
 
You
 
can
 
buy
 
with
 
this
 
money
 
chicken
 
and
 
cows.
 
Each
 
animal
 
of
 
those
 
can
 
produce
 
a
 
product:
 
eggs
 
for
 
the
 
case
 
of
 
the
 
chicken,
 
milk
 
for
 
the
 
cows.
 
 
●
 
The
 
production
 
takes
 
some
 
time
 
for
 
each
 
animal.
 
For
 
example,
 
a
 
cow
 
needs
 
1
 
minute
 
to
 
produce
 
a
 
bottle
 
of
 
milk,
 
a
 
chicken
 
needs
 
20
 
seconds
 
to
 
produce
 
an
 
egg,
 
etc.
 
 
●
 
You
 
have
 
a
 
warehouse
 
of
 
a
 
specific
 
capacity
 
to
 
store
 
the
 
products
 
in
 
it.
 
You
 
can
 
sell
 
the
 
products
 
and
 
obtain
 
money
 
to
 
grow
 
your
 
farm.
 
 
●
 
Animals
 
need
 
grass
 
to
 
eat.
 
You
 
have
 
to
 
provide
 
them
 
with
 
grass
 
by
 
buying
 
water
 
from
 
the
 
well
 
nearby.
 
When
 
clicking
 
on
 
the
 
ground,
 
the
 
grass
 
is
 
planted
 
around
 
the
 
clicked
 
region.
 
The
 
animals
 
consume
 
the
 
grass
 
at
 
a
 
specific
 
rate.
 
After
 
consuming
 
the
 
grass
 
on
 
the
 
farm,
 
the
 
animals
 
cannot
 
produce
 
products
 
anymore
 
until
 
you
 
provide
 
them
 
with
 
grass.
 
●
 
Enemies
 
(wolves)
 
can
 
attack
 
the
 
farm
 
unexpectedly
 
and
 
eat
 
your
 
animals.
 
You
 
must
 
defend
 
your
 
farm
 
by
 
clicking
 
multiple
 
times
 
on
 
each
 
attacking
 
wolf
 
to
 
destroy
 
it.
 
●
 
Each
 
level
 
of
 
the
 
game
 
has
 
a
 
goal.
 
For
 
example,
 
the
 
goal
 
can
 
be
 
to
 
obtain
 
10
 
chickens
 
or
 
reach
 
a
 
determined
 
budget.
 
There
 
is
 
a
 
timer
 
in
 
each
 
level.
 
If
 
the
 
time
 
finishes
 
before
 
the
 
goal
 
is
 
reached,
 
you
 
lose.
 
 
For
 
a
 
deeper
 
understanding
 
of
 
the
 
game
 
mechanics
 
and
 
features,
 
please
 
refer
 
to
 
the
 
rest
 
of
 
this
 
document.
 
 
Project
 
Schedule
 
 
Phase
 
Individual
 
v.s.
 
Team
 
Deliverables
 
Due
 
Week
 
Weight
 
Team
 
Formation
 
Team
 
Fill
 
the
 
form
 
Week
 
4
 
-
 
Progress
 
Report
 
1
 
Individual
 
Progress
 
Form
 
Week
 
6
 
5%
 
Progress
 
Report
 
2
 
Individual
 
Progress
 
Form
 
Week
 
10
 
5%
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
2
 

 
Phase
 
1
 
Individual
 
:
 
Team
 
See
 
the
 
“
Project
 
Phases
”
 
section
 
Week
 
11
 
30%
 
2
 
:
 
1
 
Peer
 
Review
 
1
 
Individual
 
Peer
 
Rev
 
Form
 
Week
 
11
 
2.5%
 
Progress
 
Report
 
3
 
Individual
 
Progress
 
Form
 
Week
 
13
 
10%
 
Phase
 
2
 
Individual
 
:
 
Team
 
See
 
the
 
“
Project
 
Phases
”
 
section
 
Week
 
15
 
30%
 
2
 
:
 
1
 
Final
 
Demo
 
Team
 
Final
 
Demo
 
with
 
Phase
 
2
 
Discussion
 
Week
 
15
 
15%
 
Peer
 
Review
 
2
 
Individual
 
Peer
 
Rev
 
Form
 
Week
 
15
 
2.5%
 
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
3
 

 
Requirements
 
 
#
 
Feature
 
Relativ
e
 
Weight
 
Team
 
of
 
3
 
Team
 
of
 
4
 
Team
 
of
 
5
 
1
 
Draw
 
status
 
bar
 
texts
 
at
 
the
 
bottom
 
of
 
the
 
screen
 
for:
 
--
 
Timer
 
--
 
Goal
 
--
 
level
 
--
 
Current
 
number
 
of
 
animals
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
2
 
Draw
 
budget
 
bar
 
texts
 
at
 
the
 
top
 
of
 
the
 
screen
 
for:
 
--
 
Budget
 
--
 
Animals
 
buying
 
--
 
Water
 
buying
 
1
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
3
 
Draw
 
toolbar
 
icons
 
at
 
the
 
top
 
of
 
the
 
screen
 
for:
 
--
 
Restart
 
--
 
Pause
 
--
 
Resume
 
--
 
Save
 
--
 
Load
 
1
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
4
 
Implement
 
a
 
function
 
to
 
draw
 
the
 
chicken
 
1
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
5
 
Implement
 
a
 
function
 
to
 
draw
 
the
 
wolf
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
6
 
Implement
 
a
 
function
 
to
 
draw
 
food
 
area
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
7
 
Implement
 
a
 
function
 
to
 
draw
 
the
 
eggs.
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
8
 
Implement
 
a
 
function
 
to
 
draw
 
the
 
warehouse
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
9
 
Implement
 
a
 
function
 
to
 
draw
 
the
 
background
 
of
 
the
 
field
 
(the
 
boundaries)
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
10
 
Ensure
 
all
 
draw
 
functions
 
are
 
called
 
in
 
the
 
correct
 
places
 
within
 
the
 
game
 
loop.
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
11
 
The
 
initial
 
timer
 
value
 
changes
 
based
 
on
 
the
 
level
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
4
 

 
#
 
Feature
 
Relativ
e
 
Weight
 
Team
 
of
 
3
 
Team
 
of
 
4
 
Team
 
of
 
5
 
12
 
Implement
 
a
 
function
 
that
 
handles
 
the
 
timer
 
(decrease
 
every
 
1
 
second)
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
13
 
Implement
 
a
 
function
 
that
 
puts
 
an
 
animal
 
in
 
the
 
field
 
in
 
a
 
random
 
position
 
when
 
its
 
icon
 
is
 
clicked
 
1
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
14
 
Implement
 
a
 
function
 
that
 
puts
 
a
 
green
 
area
 
in
 
the
 
field
 
in
 
a
 
random
 
position
 
when
 
the
 
water
 
icon
 
is
 
clicked
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
15
 
Make
 
the
 
animals
 
move
 
randomly
 
in
 
the
 
field
 
2
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
16
 
Implement
 
a
 
function
 
that
 
generates
 
a
 
random
 
wolf
 
based
 
on
 
the
 
current
 
level
 
and
 
time.
 
3
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
17
 
Make
 
the
 
wolf
 
move
 
randomly
 
in
 
the
 
field
 
3
 
Phase
 
1
 
Phase
 
1
 
Phase
 
1
 
18
 
Display
 
a
 
food
 
counter
 
on
 
top
 
of
 
each
 
food
 
area.
 
When
 
the
 
counter
 
reaches
 
zero,
 
the
 
food
 
area
 
disappears
 
3
 
Bonus
 
Phase
 
1
 
Phase
 
1
 
19
 
There
 
should
 
be
 
a
 
counter
 
for
 
each
 
animal.
 
When
 
the
 
counter
 
reaches
 
its
 
max,
 
the
 
animal
 
produces
 
a
 
product.
 
--
 
Chicken
 
max:
 
10
 
(sec)
 
2
 
Phase
 
2
 
Phase
 
1
 
Phase
 
1
 
20
 
When
 
the
 
animal
 
product
 
is
 
clicked,
 
its
 
count
 
increases
 
in
 
the
 
warehouse
 
2
 
Bonus
 
Phase
 
1
 
Phase
 
1
 
21
 
Display
 
the
 
animal
 
counter
 
on
 
top
 
of
 
each
 
animal
 
2
 
Bonus
 
Bonus
 
Phase
 
1
 
22
 
Indicate
 
the
 
count
 
and
 
price
 
next
 
to
 
each
 
animal
 
product
 
in
 
the
 
warehouse
 
window
 
3
 
Bonus
 
Bonus
 
Phase
 
1
 
23
 
Implement
 
a
 
function
 
that
 
opens
 
a
 
new
 
window
 
when
 
the
 
warehouse
 
is
 
clicked
 
4
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
24
 
Put
 
a
 
sell
 
button
 
in
 
the
 
warehouse
 
window
 
next
 
to
 
each
 
animal
 
product
 
2
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
25
 
When
 
the
 
sell
 
button
 
is
 
clicked,
 
the
 
budget
 
increases
 
and
 
the
 
products
 
disappear
 
from
 
the
 
window
 
5
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
5
 

 
#
 
Feature
 
Relativ
e
 
Weight
 
Team
 
of
 
3
 
Team
 
of
 
4
 
Team
 
of
 
5
 
26
 
Implement
 
Pause
 
/
 
Resume
 
icon
 
actions.
 
2
 
Bonus
 
Bonus
 
Phase
 
1
 
27
 
Implement
 
Restart
 
icon
 
action.
 
2
 
Bonus
 
Bonus
 
Phase
 
1
 
28
 
Implement
 
the
 
save
 
icon
 
action:
 
--
 
Save
 
the
 
progress
 
of
 
the
 
current
 
game.
 
2
 
Bonus
 
Phase
 
2
 
Phase
 
2
 
29
 
Implement
 
the
 
load
 
icon
 
action.
 
3
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
30
 
When
 
an
 
animal
 
collides
 
with
 
the
 
boundaries,
 
its
 
movement
 
reverses
 
direction
 
3
 
Bonus
 
Phase
 
2
 
Phase
 
2
 
31
 
When
 
an
 
animal
 
collides
 
with
 
a
 
food
 
area,
 
the
 
counter
 
of
 
the
 
food
 
decreases,
 
and
 
the
 
counter
 
of
 
the
 
animal
 
increases
 
3
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
32
 
When
 
the
 
wolf
 
collides
 
with
 
an
 
animal,
 
the
 
animal
 
disappears
 
3
 
Bonus
 
Bonus
 
Phase
 
2
 
33
 
When
 
the
 
wolf
 
is
 
clicked
 
for
 
5
 
consecutive
 
times,
 
it
 
disappears
 
3
 
Bonus
 
Bonus
 
Phase
 
2
 
34
 
When
 
the
 
budget
 
reaches
 
the
 
goal,
 
the
 
level
 
increases
 
by
 
1
 
2
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
35
 
If
 
the
 
timer
 
reaches
 
0,
 
print
 
"Game
 
Over".
 
2
 
Phase
 
2
 
Phase
 
2
 
Phase
 
2
 
36
 
The
 
number
 
and
 
velocity
 
of
 
the
 
generated
 
wolves
 
change
 
based
 
on
 
the
 
level
 
2
 
Bonus
 
Bonus
 
Phase
 
2
 
37
 
Add
 
Sound
 
Effects
 
and
 
Background
 
Music
 
 
Bonus
 
Bonus
 
Bonus
 
38
 
Prompt
 
the
 
player
 
to
 
enter
 
a
 
username
 
at
 
game
 
start.
 
Track
 
and
 
store
 
their
 
highest
 
score.
 
At
 
game
 
over,
 
update
 
and
 
display
 
a
 
leaderboard
 
showing
 
top
 
scores
 
for
 
all
 
users.
 
2
 
Bonus
 
Bonus
 
Bonus
 
39
 
You
 
may
 
add
 
additional
 
bonus
 
features
 
with
 
TA
 
approval,
 
but
 
they
 
must
 
introduce
 
something
 
entirely
 
new.
 
2
 
Bonus
 
Bonus
 
Bonus
 
 
 
 
 
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
6
 

 
 
Game
 
Screenshot
 
(This
 
screenshot
 
was
 
drawn
 
by
 
a
 
startup
 
code
 
that
 
was
 
given
 
to
 
you
 
)
 
 
The
 
game
 
window
 
is
 
divided
 
into
 
three
 
areas:
 
-
 
Toolbar:
 
containing
 
icons
 
for
 
save,
 
load,
 
pause,....
 
etc
 
-
 
Playing
 
Area:
 
where
 
the
 
user
 
can
 
add
 
the
 
plane,
 
and
 
enemies
 
and
 
move
 
them.
 
 
-
 
Status
 
bar:
 
to
 
display
 
messages
 
about
 
score,
 
lives,
 
…etc
 
to
 
the
 
user.
 
 
Main
 
Classes
 
 
Since
 
this
 
is
 
your
 
first
 
object-oriented
 
programming
 
project,
 
we’ve
 
provided
 
you
 
with
 
a
 
code
 
framework
 
that
 
includes
 
some
 
partially
 
implemented
 
classes.
 
 
For
 
the
 
graphical
 
user
 
interface
 
(GUI),
 
we’ve
 
integrated
 
the
 
open-source
 
CMU
 
Graphics
 
Library,
 
which
 
will
 
help
 
you
 
create
 
and
 
manage
 
the
 
GUI
 
more
 
easily.
 
●
 
Your
 
task
 
is
 
to
 
follow
 
the
 
given
 
design
 
and
 
complete
 
the
 
framework
 
by:
 
●
 
Extending
 
existing
 
classes,
 
●
 
Inheriting
 
from
 
them,
 
●
 
Or,
 
if
 
needed,
 
creating
 
new
 
base
 
classes
 
—
 
but
 
only
 
after
 
getting
 
approval
 
from
 
your
 
instructors.
 
 
Below,
 
you’ll
 
find
 
the
 
class
 
diagram
 
followed
 
by
 
a
 
description
 
of
 
the
 
main
 
classes.
 
 
 
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
7
 

 
 
 
 
 
 
 
 
 
Class
 
Diagram
 
 
Drawable
 
Class:
 
This
 
is
 
the
 
base
 
class
 
for
 
any
 
object
 
that
 
appears
 
on
 
the
 
screen,
 
like
 
the
 
toolbar,
 
the
 
animal,
 
or
 
the
 
enemy
 
wolf.
 
It
 
contains:
 
●
 
The
 
x
 
and
 
y
 
coordinates
 
of
 
the
 
object’s
 
position.
 
●
 
A
 
pointer
 
to
 
the
 
Game
 
object,
 
which
 
gives
 
access
 
to
 
the
 
window
 
where
 
everything
 
is
 
drawn.
 
●
 
An
 
abstract
 
function
 
draw()
 
that
 
must
 
be
 
overridden
 
by
 
any
 
class
 
that
 
inherits
 
from
 
Drawable.
 
 
GameObject
 
Class:
 
This
 
class
 
represents
 
drawable
 
objects
 
that
 
can:
 
●
 
Have
 
border
 
and
 
fill
 
colors.
 
●
 
Move
 
around.
 
●
 
Detect
 
and
 
respond
 
to
 
collisions.
 
When
 
two
 
GameObjects
 
collide,
 
an
 
action
 
should
 
happen.
 
Each
 
object
 
handles
 
this
 
by
 
overriding
 
the
 
virtual
 
function
 
collisionAction()
 
from
 
the
 
base
 
class.
 
 
 
Toolbar
 
Class:
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
8
 

 
This
 
class
 
manages
 
the
 
toolbar
 
at
 
the
 
top
 
of
 
the
 
game,
 
which
 
contains
 
icons
 
like
 
Restart,
 
Pause,
 
etc.
 
 
ToolbarIcon
 
Class:
 
This
 
class
 
manages
 
all
 
toolbar
 
icons.
 
It
 
detects
 
which
 
icon
 
the
 
user
 
clicks
 
and
 
calls
 
that
 
icon’s
 
onClick()
 
function.
 
●
 
Each
 
icon
 
should
 
be
 
a
 
subclass
 
of
 
ToolbarIcon.
 
For
 
example,
 
we’ve
 
already
 
implemented
 
a
 
RestartIcon
 
that
 
restarts
 
the
 
game.
 
●
 
You
 
should
 
add
 
more
 
icons,
 
and
 
for
 
each
 
one,
 
override
 
the
 
onClick()
 
function
 
to
 
define
 
what
 
happens
 
when
 
it
 
is
 
clicked.
 
 
Budgetbar
 
Class:
 
This
 
class
 
manages
 
the
 
budgetbar
 
at
 
the
 
top
 
of
 
the
 
game,
 
which
 
contains
 
icons
 
for
 
buying
 
Chicken,
 
Cow,
 
etc,
 
and
 
it
 
displays
 
the
 
current
 
budget.
 
 
BudgetbarIcon
 
Class:
 
This
 
class
 
manages
 
all
 
budgetbar
 
icons.
 
It
 
detects
 
which
 
icon
 
the
 
user
 
clicks
 
and
 
calls
 
that
 
icon’s
 
onClick()
 
function.
 
●
 
Each
 
icon
 
should
 
be
 
a
 
subclass
 
of
 
BudgetbarIcon.
 
For
 
example,
 
we’ve
 
already
 
implemented
 
a
 
ChickIcon
 
that
 
buys
 
a
 
chicken
 
and
 
places
 
it
 
randomly
 
in
 
the
 
field.
 
●
 
You
 
can
 
add
 
more
 
icons,
 
and
 
for
 
each
 
one,
 
override
 
the
 
onClick()
 
function
 
to
 
define
 
what
 
happens
 
when
 
it
 
is
 
clicked.
 
 
 
window
 
Class:
 
This
 
class
 
handles
 
everything
 
the
 
user
 
sees
 
or
 
interacts
 
with.
 
All
 
input
 
and
 
output
 
(drawing
 
on
 
the
 
screen,
 
getting
 
user
 
clicks,
 
etc.)
 
goes
 
through
 
this
 
class.
 
If
 
any
 
other
 
class
 
wants
 
to
 
show
 
or
 
read
 
something
 
from
 
the
 
user,
 
it
 
must
 
call
 
a
 
function
 
from
 
Window.
 
 
Game
 
Class:
 
This
 
is
 
the
 
main
 
class
 
that
 
manages
 
the
 
whole
 
app.
 
●
 
It
 
holds
 
pointers
 
to
 
the
 
Toolbar
 
and
 
Window
 
and
 
controls
 
the
 
flow
 
of
 
the
 
game.
 
●
 
It
 
does
 
not
 
do
 
everything
 
itself
 
—
 
instead,
 
it
 
tells
 
other
 
classes
 
what
 
to
 
do
 
and
 
when
 
to
 
do
 
it.
 
File
 
Format
 
 
Save
 
and
 
Load
 
Feature
 
Requirements
 
(Features
 
23
 
&
 
24):
 
Your
 
save/load
 
functions
 
must
 
store
 
and
 
restore
 
the
 
full
 
game
 
state
 
when
 
the
 
player
 
clicks
 
Save
 
or
 
Load.
 
Use
 
a
 
plain
 
.txt
 
file
 
to
 
save
 
all
 
necessary
 
data,
 
including:
 
●
 
Game
 
progress:
 
level,
 
points,
 
fuel,
 
lives,
 
speed
 
●
 
Player
 
plane
 
position
 
●
 
All
 
active
 
enemies:
 
position,
 
type
 
(e.g.,
 
1
 
=
 
jet,
 
2
 
=
 
tanker),
 
and
 
any
 
extra
 
data
 
required
 
to
 
recreate
 
them
 
(e.g.,
 
width,
 
height,
 
or
 
other
 
custom
 
attributes
 
used
 
in
 
your
 
logic)
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
9
 

 
You
 
may
 
include
 
additional
 
data
 
as
 
needed
 
based
 
on
 
your
 
implementation.
 
You
 
can
 
modify
 
the
 
order
 
of
 
saved
 
items,
 
but
 
you
 
must
 
load
 
them
 
in
 
the
 
exact
 
same
 
order
 
they
 
were
 
saved.
 
 
●
 
Here
 
is
 
a
 
sample
 
file,
 
but
 
you're
 
free
 
to
 
adapt
 
it
 
to
 
fit
 
your
 
design.
 
 
3
     
//
 
Level
 
750
   
//
 
Budget
 
1:42
    
//
 
Timer
 
 
3
    
//
 
Number
 
of
 
chickens
 
2
   
//
 
Number
 
of
 
cows
 
2
   
//
 
Number
 
of
 
grass
 
 
120
   
//
 
Chick1X
 
430
   
//
 
Chick1Y
 
200
   
//
 
Chick2X
 
700
   
//
 
Chick2Y
 
500
   
//
 
Chick3X
 
1000
   
//
 
Chick3Y
 
 
720
   
//
 
Cow1X
 
330
   
//
 
Cow1Y
 
800
   
//
 
Cow2X
 
660
   
//
 
Cow2Y
 
 
500
   
//
 
Grass1X
 
330
   
//
 
Grass1Y
 
250
   
//
 
Grass2X
 
690
   
//
 
Grass2Y
 
 
 
2
     
//
 
Items
 
in
 
the
 
warehouse
 
1
 
3
   
//
 
Item1
 
type,
 
count
 
2
 
5
   
//
 
Item
 
2
 
type,
 
count
 
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
10
 

 
Project
 
Phases
 
Guidelines
 
Progress
 
Report:
 
Your
 
progress
 
report
 
should
 
comprehensively
 
reflect
 
your
 
team's
 
work
 
over
 
the
 
past
 
two
 
to
 
three
 
weeks.
 
 
1.
 
Begin
 
by
 
providing
 
fundamental
 
information
 
such
 
as
 
your
 
team’ s
 
name
 
and
 
members.
 
 
2.
 
Following
 
this,
 
list
 
the
 
distribution
 
of
 
features
 
amongst
 
students
 
during
 
the
 
reporting
 
weeks.
 
 
For
 
each
 
team
 
member ,
 
the
 
report
 
should
 
include:
 
●
 
Planned
 
Goals:
 
Outline
 
the
 
objectives
 
that
 
were
 
set
 
at
 
the
 
beginning
 
of
 
the
 
period.
 
●
 
Accomplished
 
Goals:
 
Detail
 
the
 
tasks
 
and
 
features
 
that
 
have
 
been
 
successfully
 
completed.
 
●
 
Blocked
 
Goals
 
(if
 
applicable):
 
Discuss
 
any
 
objectives
 
that
 
could
 
not
 
be
 
achieved
 
and
 
explain
 
the
 
reasons
 
for
 
the
 
same.
 
●
 
Challenges:
 
Share
 
the
 
difficulties
 
encountered
 
during
 
the
 
work
 
process.
 
●
 
Lessons
 
Learned:
 
Convey
 
new
 
knowledge
 
or
 
insights
 
gained
 
during
 
this
 
period.
 
●
 
Future
 
Goals:
 
Set
 
clear
 
objectives
 
to
 
be
 
accomplished
 
in
 
the
 
upcoming
 
weeks,
 
providing
 
a
 
roadmap
 
for
 
your
 
project's
 
next
 
steps.
 
 
Phase
 
1:
 
Refer
 
to
 
the
 
section
 
titled
 
"Requirements"
 
above,
 
where
 
necessary
 
features
 
for
 
this
 
phase
 
are
 
explicitly
 
highlighted.
 
Tasks
 
and
 
responsibilities
 
should
 
be
 
equitably
 
distributed
 
among
 
team
 
members
 
to
 
ensure
 
a
 
fair
 
workload.
 
 
Submission
 
Guidelines:
 
Teams
 
must
 
submit
 
a
 
single
 
zipped
 
file
 
named
 
ProjectPhase1_T#
 
with
 
the
 
following
 
contents:
 
1.
 
Info.txt:
 
A
 
file
 
containing
 
essential
 
team
 
information
 
such
 
as
 
Names,
 
IDs,
 
and
 
Emails.
 
2.
 
Workload
 
Division
 
Document:
 
Include
 
a
 
table
 
listing
 
each
 
team
 
member
 
alongside
 
the
 
respective
 
features
 
they
 
have
 
implemented.
 
3.
 
Code/Resources
 
Files:
 
Ensure
 
that
 
files
 
related
 
to
 
the
 
required
 
features
 
are
 
adequately
 
included.
 
 
Phase
 
2:
 
Refer
 
to
 
the
 
"Requirements"
 
section
 
above,
 
where
 
necessary
 
features
 
for
 
this
 
phase
 
are
 
explicitly
 
highlighted.
 
Tasks
 
and
 
responsibilities
 
should
 
be
 
equitably
 
distributed
 
among
 
team
 
members
 
to
 
ensure
 
a
 
fair
 
workload.
 
 
Submission
 
Guidelines:
 
Teams
 
must
 
submit
 
a
 
single
 
zipped
 
file
 
named
 
ProjectPhase2_T#
 
with
 
the
 
following
 
contents:
 
1.
 
Info.txt
 
File:
 
A
 
file
 
that
 
has
 
your
 
team’ s
 
basic
 
information
 
like
 
names,
 
IDs,
 
and
 
emails.
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
11
 

 
2.
 
Project
 
Files:
 
Put
 
all
 
the
 
important
 
project
 
codes
 
and
 
files
 
here.
 
3.
 
Sample
 
Graph
 
(Game
 
Snippet)
 
Files:
 
Please
 
give
 
us
 
three
 
different
 
graph
 
examples.
 
For
 
each
 
graph:
 
a.
 
Give
 
a
 
text
 
file
 
that
 
talks
 
about
 
the
 
graph.
 
b.
 
Show
 
a
 
picture
 
of
 
the
 
graph
 
made
 
by
 
your
 
program.
 
c.
 
Show
 
a
 
picture
 
where
 
the
 
graph
 
is
 
being
 
used
 
or
 
played
 
with.
 
 
Grading
 
Criteria
 
for
 
Phases
 
1
 
and
 
2:
 
The
 
grading
 
for
 
each
 
feature
 
during
 
these
 
phases
 
will
 
be
 
split
 
into
 
two
 
main
 
categories:
 
●
 
Individual
 
Grade:
 
Each
 
student
 
will
 
receive
 
a
 
grade
 
based
 
on
 
their
 
contribution
 
to
 
the
 
implementation
 
of
 
specific
 
features.
 
●
 
Team
 
Grade:
 
An
 
overall
 
team
 
grade
 
will
 
also
 
be
 
assigned,
 
reflecting
 
the
 
integration
 
of
 
individual
 
features
 
into
 
the
 
cohesive
 
whole
 
of
 
the
 
project.
 
 
Late
 
Submission
 
Policy
 
●
 
For
 
Phase
 
1:
 
○
 
You
 
can
 
submit
 
late,
 
but
 
only
 
up
 
to
 
3
 
days
 
after
 
the
 
due
 
date.
 
○
 
If
 
you
 
submit
 
it
 
late,
 
your
 
score
 
will
 
be
 
lower .
 
Each
 
late
 
day
 
will
 
take
 
away
 
10%
 
of
 
your
 
score.
 
○
 
After
 
3
 
days,
 
no
 
more
 
late
 
submissions
 
will
 
be
 
accepted.
 
 
●
 
For
 
Phase
 
2
 
and
 
the
 
Final
 
Parts:
 
No
 
late
 
submissions
 
are
 
allowed.
 
Make
 
sure
 
to
 
submit
 
it
 
on
 
time.
 
Penalties
 
 
 
Finding
 
Penalty
 
in
 
Phase
 
1
 
Penalty
 
in
 
Phase
 
2
 
Affected
 
Part
 
Undoubted
 
plagiarism
 
x
 
0.0
 
x
 
0.0
 
Entire
 
project
 
Non-working
 
/
 
Unreachable
 
code
 
x
 
0.8
 
x
 
0.5
 
Per
 
Feature
 
Crashing
 
code
 
x
 
0.9
 
x
 
0.8
 
Per
 
Feature
 
Violation
 
of
 
OOP
 
Concepts
 
x
 
0.9
 
x
 
0.5
 
Per
 
Phase
 
Memory
 
Leaks
 
-
 
x
 
0.9
 
Entire
 
project
 
Deferring
 
a
 
Phase
 
1
 
feature
 
to
 
Phase
 
2
 
*
 
x
 
0.5
 
-
 
Per
 
Feature
 
 
NOTE
 
 
For
 
Phase
 
1,
 
Buggy/
 
Fully
 
Missing
 
Features:
 
●
 
You
 
can
 
deliver
 
features
 
that
 
were
 
buggy
 
or
 
entirely
 
missing
 
in
 
Phase
 
1,
 
along
 
with
 
Phase
 
2.
 
●
 
However ,
 
the
 
maximum
 
grade
 
you
 
can
 
earn
 
for
 
such
 
a
 
feature
 
is
 
50%
 
of
 
the
 
original
 
allocation
 
for
 
that
 
feature
 
in
 
Phase
 
1.
 
 
 
 
Spring
 
2026
 
 
 
 
CIE101
 
-
 
Project
 
Requirements
 
 
 
 
12
 

